<div class="products">
  <h2>Products</h2>
  <div class="products__wrapper">
    <div *ngFor="let product of products" class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
            {{ product.name }}
          </a>
        </h5>
        <p class="card-text" *ngIf="product.description">Description: {{ product.description }}</p>
        <button class="btn btn-primary" (click)="share()">Share</button>
        <app-product-alerts
          [product]="product"
          (notify)="onNotify()"
        >
        </app-product-alerts>
      </div>
    </div>
  </div>
</div>
